@page
@model EditUsernameModel
@{
    ViewData["Title"] = "Edit Username";
    ViewData["ActivePage"] = ManageNavPages.EditUsername;
}

<h2>Edit Username</h2>
<div class="card">
    <div class="card-body">
        <form method="post">
            <div class="form-group">
                <label asp-for="NewUsername" class="control-label"></label>
                <input asp-for="NewUsername" class="form-control" />
                <span asp-validation-for="NewUsername" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
