html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0
}

/* Custom CSS */

.content-container {
    flex-grow: 1;
    overflow-y: auto;
    padding: 20px;
    height: 90vh;
}

.container-fluid {
    display: flex;
    height: 100vh;
}

.scroll-container {
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    padding: 20px 0;
}

    .scroll-container::-webkit-scrollbar {
        display: none;
    }

.card {
    min-width: 250px;
    margin-right: 25px;
}